// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
	"bg":#FBF6F2,
	"box":#D9D3C1,
	"text" :#251B11,
	"Gtext":#222C1A,
	"Gbutton":#5A6D50,
	"LGbutton":#A0AE95,
	"Bbutton":#523D2A,
	"LBbutton":#937E66,


);




$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...
@font-face {
	src: url(/Fonts/VLADIMIR.TTF);
	font-family: Vladimir Script;
}










// når man hover over et dropdown item underliner den teksten og ændrer baggrundsfarven
body{
	background-color: #FBF6F2;
}

/* navbar */
.dropdown-item{
	font-family: Playfair Display;
	color: #251B11;
}
.dropdown-item:hover{
	background-color: #EBE4D0;
}
.dropdown-devider{
	color: #A0AE95;

}
.nav-link{
font-family: "Playfair Display";
color: #251B11;
font-size: 32px;
}



.nav-item:hover{
	text-decoration: none;
}

.lpafsnit1{
	width: 100%;
}

.lpafsnit1 img{
	width: 100%;
}

.card{
	padding-top: 1.5rem;
}

.row{
	margin: 16px;
}

@include media-breakpoint-up(lg){
	.row{
		margin: 88px;
	}
}
.mobilenav{
	display: flex;
}
.desktopnav{
	display: none;
}
@include media-breakpoint-up(lg){
	.desktopnav{
		display: flex;
	}
	.mobilenav{
		display: none;
	}
}
/*--------------*/


/* Mobil logo */
.topbilledemobil{
	padding-top: 19px;
	padding-bottom: 8px;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: #D9D3C1;
	
}

.topbilledemobil hr{
	margin-top: 10px;
}

@include media-breakpoint-up(lg){
	.topbilledemobil{
		display: flex;
	}
	.topbillede{
		display: none;
	}
}


/* desktop logo */
.topbillede{
	padding-top: 41px;
	padding-bottom: 23px;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: #D9D3C1;
	display: none;
}

.topbillede img{
	width: 100%;
}

.topbillede hr{
	margin-top: 50px;
}

@include media-breakpoint-up(lg){
	.topbillede{
		display: flex;
	}
	.topbilledemobil{
		display: none;
	}
}

/*udforsk katergorier*/

.udforskbilleder{
	display: grid;
	grid-template-columns: 3fr 3fr 3fr 3fr;
	margin: 16px;
	column-gap: 20px;
}
.udforskbilleder img{
	width: 100%;
}

.udforsk{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.udforsk img{
	width: 100%;
}

@include media-breakpoint-up(lg){
	.udforskbilleder{
		grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 1fr;
		margin: 88px;
	}
}
.empty{
	display: none;
}
@include media-breakpoint-up(lg){
	.empty{
		display: block;
	}
}
