// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";
@import "../node_modules/bootstrap/scss/variables-dark";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
	"bg":#FBF6F2,
	"box":#D9D3C1,
	"text" :#251B11,
	"Gtext":#222C1A,
	"Gbutton":#5A6D50,
	"LGbutton":#A0AE95,
	"Bbutton":#523D2A,
	"LBbutton":#937E66,


);




$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...
@font-face {
	src: url(/Fonts/VLADIMIR.TTF);
	font-family: Vladimir Script;
}










// når man hover over et dropdown item underliner den teksten og ændrer baggrundsfarven
body{
	background-color: #FBF6F2;
}

/*-----------------------navbar----------------------- */
.dropdown-item{
	font-family: Playfair Display;
	color: #251B11;
}
.dropdown-item:hover{
	background-color: #EBE4D0;
}
.dropdown-devider{
	color: #A0AE95;

}
.nav-link{
font-family: "Playfair Display";
color: #251B11;
font-size: 32px;
}

.mobilnav-link{
	font-family:"Playfair Display";
	color: #251B11;
	font-size: 24px;
	padding-bottom: 32px;
}


.nav-item:hover{
	text-decoration: none;
}

.lpafsnit1{
	width: 100%;
}

.lpafsnit1 img{
	width: 100%;
}

.card{
	padding-top: 1.5rem;
}

.row{
	margin: 16px;
}

@include media-breakpoint-up(lg){
	.row{
		margin: 88px;
	}
}
.mobilenav{
	display: flex;
}
.desktopnav{
	display: none;
}
@include media-breakpoint-up(lg){
	.desktopnav{
		display: flex;
	}
	.mobilenav{
		display: none;
	}
}
/*----------------------------------------------------*/




/* ----------------Mobil logo---------------- */
.topbilledemobil{
	padding-top: 19px;
	padding-bottom: 8px;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: #D9D3C1;
	
}

.topbilledemobil hr{
	margin-top: 40px;
}

@include media-breakpoint-up(lg){
	.topbilledemobil{
		display: flex;
	}
	.topbillede{
		display: none;
	}
}
/*----------------------------------------------------*/




/*------------- desktop logo -----------*/
.topbillede{
	padding-top: 41px;
	padding-bottom: 23px;
	flex-direction: row;
	justify-content: space-evenly;
	background-color: #D9D3C1;
	display: none;
}

.topbillede img{
	width: 100%;
}

.topbillede hr{
	margin-top: 50px;
}

@include media-breakpoint-up(lg){
	.topbillede{
		display: flex;
	}
	.topbilledemobil{
		display: none;
	}
}
/*----------------------------------------------------*/


/*-----------------------------afsnit 1 billede med text------------------------*/

.lpafsnit1{
	align-items: center;
	display: flex;
	justify-content: center;
}
.abc{
	position: absolute;
	
}

.lpha1{
	padding: 24px 16px;
	background-color: #fbf6f255;
	text-align: center;
	border-radius: 8px;
	font-family: "Playfair Display";
	font-size: 64px;
	
	
}
.lpha2{
	padding: 24px 16px;
	background-color: #fbf6f255;
	text-align: center;
	border-radius: 8px;
	font-family: "Open Sans";
	font-size: 32px;
}

.lpafsnit1 img{
	z-index: -1;
}
/*----------------------------------------------------*/

/*-----------------------------afsnit 2 havemøbler------------------------*/

.card-body{
	background-color: #EBE4D0;
}
.produkt{
	display: flex;
	flex-direction: row;
	

	.card-title{
		font-family: "Playfair Display";
		font-weight: 500;
		font-size: 24px;
	}
	.ting{
			font-family: "Playfair Display";
			font-weight: 400;
			font-size: 20px;
			padding: 4px;
			margin-bottom: 0;
			margin-left: 5px;
	}

}

.pris{
	font-family: "Playfair Display";
	font-weight: 500;
	font-size: 24px;	
}
.card-text{
	font-family: "Open Sans";
	font-size: 16px;
}

.ratings{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr ;

}

@include media-breakpoint-up(lg){
    .ratings{
        grid-template-rows: 1fr;
        grid-template-columns: 1fr 1fr;
    }
}






/*--------------udforsk katergorier--------------*/

.udforskbilleder{
	display: grid;
	grid-template-columns: 3fr 3fr 3fr 3fr;
	margin: 16px;
	column-gap: 20px;
}
.udforskbilleder img{
	width: 100%;
}

.udforsk{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
}

.udforsk img{
	width: 100%;
}

@include media-breakpoint-up(lg){
	.udforskbilleder{
		grid-template-columns: 1fr 2fr 2fr 2fr 2fr 2fr 1fr;
		margin: 88px;
	}
}
.empty{
	display: none;
}
@include media-breakpoint-up(lg){
	.empty{
		display: block;
	}
}
/*----------------------------------------------------*/




/*-------------- mobil footer----------*/
.mobilfooter {

    background-color: #D9D3C1;
    padding: 16px;
    color: #251B11;
    text-decoration: none;
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;


    .mtop {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .ms {

            .Mh {
                margin-top: 8px;
                margin-bottom: 4px;
                font-family: "Playfair Display";
                font-size: 16px;
            }

            .mobilikoner {
                display: flex;
                justify-content: space-evenly;
                margin-bottom: 16px;

            }

            .Mcopy {
                font-family: "Open Sans";
                font-size: 8px;
            }
        }


    }

    .mbottom {
        display: flex;
        flex-direction: row;
        justify-content: space-between;

        .mt {

            .Mh {
                margin-bottom: 8px;
                font-family: "Playfair Display";
                font-size: 16px;
            }

            .mliste {
                box-sizing: content-box;
            }

            .Ml {
                font-family: "Open Sans";
                font-size: 8px;
                text-decoration: none;
                color: #251B11;
            }
        }
    }

}

/*----------------------------------------------------*/




/*-----------------desktopfooter----------------*/

.desktopfooter {

    background-color: #D9D3C1;
    padding: 39px 39px;
    color: #251B11;
    text-decoration: none;
    list-style: none;
    display: none;
    flex-direction: row;
    justify-content: space-between;



    .dh {
        margin-top: 8px;
        margin-bottom: 4px;
        font-family: "Playfair Display";
        font-size: 16px;
    }

    .desktopikoner {
        display: flex;
        justify-content: space-evenly;
        margin-bottom: 16px;

    }

    .dcopy {
        font-family: "Open Sans";
        font-size: 8px;
    }

    .dh {
        margin-bottom: 8px;
        font-family: "Playfair Display";
        font-size: 16px;
    }

    .dl {
        font-family: "Open Sans";
        font-size: 8px;
        text-decoration: none;
        color: #251B11;
    }


}

@include media-breakpoint-up(md) {
    .mobilfooter {
        display: none;
    }

    .desktopfooter {
        display: flex;
    }
}

/*----------------------------------------------------*/

.udforsk-produkt{
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;

	
	.udforsk-produkt img{
		width: 100%;
	}
}